<h1>TippaToppen - Vad är populärast?</h1>

<!-- <button (click)="shuffle()">Shuffle Tracks</button> -->

<div cdkDropList (cdkDropListDropped)="drop($event)">
    <div
      *ngFor="let track of trackArray; let i = index"
      cdkDrag
      [style.backgroundColor]="showScore ? getColor(correctnessPercentages[i]) : ''"
    >
      <strong>{{ track.title }}</strong> by {{track.artist}})
      <span *ngIf="showScore">  - {{track.rank}}</span>
      <span class="rewardEmoji" *ngIf="showScore && correctnessPercentages[i] === 100">⭐</span>
    </div>
  </div>

<button (click)="onButtonClick()">Submit</button>
<h4 *ngIf="showScore"> Score: {{score}}</h4>